<div class="md-panel md-whiteframe-2dp" layout="column">
    <!-- Toolbar default -->
    <md-toolbar class="md-panel-toolbar" ng-hide="selected.length || filter.show">
        <div class="md-toolbar-tools">
            <h3>
                Trazas de Acción
                <small ng-bind="'('+entities.count+')'"></small>
            </h3>
            <span flex=""></span>
            <md-button class="md-icon-button" ng-click="filter.show = true">
                <md-tooltip>
                    Buscar
                </md-tooltip>
                <i class="mdi mdi-magnify i-24"></i>
            </md-button>
        </div>
    </md-toolbar>

    <!-- Toolbar filter -->
    <md-toolbar class="md-panel-toolbar" ng-show="filter.show && !selected.length">
        <div class="md-toolbar-tools">
            <form flex name="filter.form">
                <md-input-container md-no-float class="md-block" md-theme="docs-dark">
                    <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="Buscar">
                </md-input-container>
            </form>
            <md-button class="md-icon-button" ng-click="removeFilter()">
                <i class="mdi mdi-close i-24"></i>
            </md-button>
        </div>
    </md-toolbar>

    <!-- Toolbar remove -->
    <md-toolbar class="md-panel-toolbar" ng-show="selected.length">
        <div class="md-toolbar-tools">
            <div>{{selected.length}} {{selected.length > 1 ? 'elementos' : 'elemento'}} seleccionado(s)</div>
            <span flex=""></span>
            <md-button class="md-icon-button" ng-click="deleteSelected()">
                <md-tooltip>
                    Eliminar
                </md-tooltip>
                <i class="mdi mdi-delete i-24"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container class="md-panel-content">
        <table md-table data-md-row-select="" data-ng-model="selected" md-progress="promise">
            <thead md-head="" data-md-order="query.order" data-md-on-reorder="onReorder">
            <tr md-row="">
                <th md-column="" data-md-order-by="idTraza">Id traza</th>
                <th md-column="" data-md-order-by="fecha">Fecha</th>
                <th md-column="" data-md-order-by="hora">Hora</th>
                <th md-column="" data-md-order-by="usuario">Usuario</th>
                <th md-column="" data-md-order-by="ipHost">Ip host</th>
                <th md-column="" data-md-order-by="rol">Rol</th>
                <th md-column="" data-md-order-by="referencia">Referencia</th>
                <th md-column="" data-md-order-by="controlador">Controlador</th>
                <th md-column="" data-md-order-by="accion">Accion</th>
                <th md-column="" data-md-order-by="inicio">Inicio</th>
                <th md-column="" data-md-order-by="falla">Falla</th>
                <th md-column="" data-md-order-by="">Tiempo de Ejecución</th>
                <th md-column="" data-md-order-by="">Memoria</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="entity" md-auto-select ng-repeat="entity in entities.data">
                <td md-cell="" ng-bind="entity.idTraza"></td>
                <td md-cell="" ng-bind="entity.fecha"></td>
                <td md-cell="" ng-bind="entity.hora"></td>
                <td md-cell="" ng-bind="entity.usuario"></td>
                <td md-cell="" ng-bind="entity.ipHost"></td>
                <td md-cell="" ng-bind="entity.rol"></td>
                <td md-cell="" ng-bind="entity.referencia"></td>
                <td md-cell="" ng-bind="entity.controlador"></td>
                <td md-cell="" ng-bind="entity.accion"></td>
                <td md-cell="" ng-bind="entity.inicio"></td>
                <td md-cell="" ng-bind="entity.falla"></td>
                <td md-cell="" ng-bind="entity.rendimiento.tiempoEjecucion"></td>
                <td md-cell="" ng-bind="entity.rendimiento.memoria"></td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{entities.count}}"
                         md-on-paginate="onPaginate" md-page-select></md-table-pagination>
</div>